

/* 网站字体 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
input, textarea, button, select, option {
    font-family: "Quicksand", sans-serif !important;
}

/* 网站标题 */
.site-title{
    font-weight: 500 !important;
}

/* 上方导航栏色块对齐 */
@media (min-width: 1380px)
{
    .site-header-row-container-inner
    {
        padding-left: 60px !important;
    }
}

@media (max-width: 1379.99px) and (min-width: 1294px)
{
    .site-header-row-container-inner
    {
        padding-left: 58px !important;
    }
}

@media (max-width: 1293.99px) and (min-width: 768.01px)
{
    .site-header-row-container-inner
    {
        padding-left: 30px !important;
    }
}

@media (max-width: 768px) and (min-width: 720.01px)
{
    .site-header-row-container-inner
    {
        padding-left: 24px !important;
    }
}

@media (max-width: 720px)
{
    .site-header-row-container-inner
    {
        padding-left: 5px !important;
    }
}

/* 面包屑对齐 */
@media (min-width: 767.01px) {
    .hero-container {
        transform: translateX(32px);
    }
}

@media (max-width: 767px) and (min-width: 719.01px) {
    .hero-container {
        transform: translateX(24px);
    }
}

@media (max-width: 719px) {
    .hero-container {
        transform: translateX(6px);
    }
}

#kt-scroll-up{
    display: none !important;
}

div.site-header-upper-wrap{
    margin-top: 30px;
    margin-bottom: 20px;
}


ul#primary-menu > li.menu-item > a{
    min-height: max-content;
    padding-left: 30px; 
    padding-right: 30px; 
    
}

ul#primary-menu > li.menu-item > a:hover{

    color:#ffffff !important;
    cursor: default;
}

ul#primary-menu > li.menu-item > a[href*="https://wuresgrp.github.io/"]:hover,
ul#primary-menu > li.menu-item > a[href*="https://wuresgrp.github.io/events"]:hover{
    cursor: pointer;
}

ul#primary-menu > li.menu-item.current-page-item > a{

    color:#ffffff !important;
}

ul#primary-menu > li.menu-item.current-page-parent > a{

    color:#ffffff !important;
}

ul.sub-menu > li.menu-item > a:hover{

    color:#ffffff !important;
}

ul.sub-menu > li.menu-item.current-menu-item > a{

    color:#ffffff !important;
}

span.kadence-svg-iconset{
    margin-left: 15px !important;
}

div.kadence-breadcrumb-container > span > a{
    text-decoration: none;
    cursor: text;
}

/* 移动端 */
#mobile-site-navigation .menu-item-has-children > .drawer-nav-drop-wrap > a{
    cursor: pointer;
}
