
div.site-header-upper-wrap{
    margin-top: 30px;
    margin-bottom: 20px;
}


ul#primary-menu > li.menu-item > a{
    min-height: max-content;
    padding-left: 30px; 
    padding-right: 30px; 
    
}

ul#primary-menu > li.menu-item > a:hover{
    font-weight: 700 !important;
    color:#000 !important;
}

ul#primary-menu > li.menu-item.current-menu-item > a{
    font-weight: 700 !important;
    color:#000 !important;
}

ul#primary-menu > li.menu-item.current-menu-parent > a{
    font-weight: 700 !important;
    color:#000 !important;
}

ul.sub-menu > li.menu-item > a:hover{
    font-weight: 700 !important;
    color:#ffffff !important;
}

ul.sub-menu > li.menu-item.current-menu-item > a{
    font-weight: 700 !important;
    color:#ffffff !important;
}

span.kadence-svg-iconset{
    margin-left: 15px !important;
}

